
<!-- Sidebar -->
<div id="sidebar" class="4u">
	<section>
		<b>Funding and Affiliations</b><br>
		<a href="http://bioprotection.org.nz">Bio-Protection Research Centre</a><br>
		<a href="http://www.lincoln.ac.nz">Lincoln Univeristy</a><br>
		<a href="http://www.mpi.govt.nz">Ministry of Primary Industry (MPI)</a><br>
		<a href="http://http://www.b3nz.org">Better Border Biosecurity (B3)</a><br>
		<a href="http://www.niwa.co.nz/">NIWA Taihoro Nukurangi</a><br>	
		<a href="http://www.csiro.au">The Commonwealth Scientific and Industrial Research Organisation (CSIRO)</a><br>
		<a href="http://cebra.unimelb.edu.au">Centre of Excellence for Biosecurity Risk Analysis (CEBRA)</a><br>
		<a href="http://www.aphis.usda.gov/aphis/ourfocus/planthealth/ppq-program-overview/sa_cphst/ct_peral/!ut/p/z1/tZJNc4IwEIZ_iwePmASsYG-ojNqqnVHxgwsTIBAsJhiiVH99o7Y91Krtobkw2X2XfffZAA8sgMfwLk2wTDnDmbovvYY_Qu0utOpo0HU6CNq9Zv-5ZzbgZGCC-UkweKm3UWsC1ddpQdsZm0PH6esQGcC7nu5a-kX9rNdQgqk7HVmo1W_qv6uHV44N79XPgAe8kMlcUrDEOU0LP-RMEib9LA0EFvsqLLDPt8KPebgtTrc8wypPCc4kPQcETwRe-3xHxC4l5SkY5rSQVRhKPydCsVSN8jCNwDJqoGYUYUvD0MBavW7GmgWDSEMoIE0jICQ08cdgN8h7t-eeH_vdWc03wSX7e02WyqR51WTnAcyPNIDLuFgrApM_MuhB8HSycAODeqG6GLaHifozllRLWczB4hM_WHzhV8J0tdl4ttr3ccNvKvm_C1fek4wH5942CwxLmRQkJoKI2laoMJUyLx6rsArLsqwlnCcZqYW8xg4_lVB-HOhCma9d111bxl57HVvlNKbZam8cBmRuVyrv63RChA!!/dz/d5/L2dBISEvZ0FBIS9nQSEh/?urile=wcm%3Apath%3A%2Faphis_content_library%2Fsa_our_focus%2Fsa_plant_health%2Fsa_program_overview%2Fsa_cphst%2Fct_peral">Plant Epidemiology and Risk Analysis Laboratory (USDA/CPHST)</a><br>
	</section>
	
	<section>
		<b>Other affiliations and projects</b><br>
		<a href="http://http://www.pestrisk.org/">International Pest Risk Research Group (IPRRG)</a><br>
	</section>
	
</div>

